<div>
  Hi, <%= @password_reset_params[:first_name] %>!

  A request to reset your password has been made. You can reset your password by following this link:

  <a href="<%= ENV['CLIENT_BASEURL'] %>/reset_password?email=<%= CGI.escape(@password_reset_params[:email]) %>&uuid=<%= @password_reset_params[:uuid] %>">Reset password</a>
</div>
